
<div class="container">    


    <div >
    <h1 class="display-3 text-center text-primary  mt-1  "> Meet The Team</h1>
    </div>
 

    <div class="row">
        <div class="col-4">
            <div class="list-group  id="list-tab" role="tablist">

            <% for( let index = 0; index < teamMembers.length; index++ ) { %>

    <% if (index==0) { %>
        <a class="list-group-item list-group-item-action active  tm-3  "  id="list-<%-  teamMembers[index].name%>-list" data-toggle="list" href="#<%- teamMembers[index].key%>" role="tab" ><%= teamMembers[index].name %></a>
    <% } else { %>
        <a class="list-group-item list-group-item-action tm-3" id="list-<%-  teamMembers[index].name%>-list" data-toggle="list" href="#<%-  teamMembers[index].key%>" role="tab" ><%=  teamMembers[index].name %></a>
    <% } %> 

    <% } %>
            </div>
        </div>
        <div class="col-8">
            <div class="tab-content " id="nav-tabContent ">
            <% for( let index = 0; index < teamMembers.length; index++ ) { %>

    <% if (index==0) { %>

    <div class="tab-pane fade show active " id="<%- teamMembers[index].key%>" role="tabpanel" > <%= teamMembers[index].bio %>  </div>

    <% } else { %>
    <div class="tab-pane fade show " id="<%- teamMembers[index].key%>" role="tabpanel" ><%= teamMembers[index].bio %> </div>
    <% } %> 

    <% } %>
                </div>
            </div>
        </div>
    </div>   
    <br>
</div>


